__pycache__/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
.venv/
.conda/

# Built Visual Studio Code Extensions
*.vsix
*.pyc
.DS_Store
